# dependencies
node_modules/

# env files
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*

# build
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# coverage
coverage/

# temporary files
*.tmp
*.temp